header      {
    color: #02040F;
    font-family: 'Domine', serif;
    margin: 20px;
    position:absolute;
    top: 0px;
    right: 0px;
}

h1      {
    text-align: center;
}

h2      {
    color: #02040f;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p       {
    color: #E59500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 600px;

}

.menu{
    margin: 0px;
    color: #002642;
    border: 2px dotted;
    font-family: 'Bree Serif', serif;
    position: fixed;
    width: 30%;
    top: 0px;
    background-color: #E5dada;

}

.mainp{
    color:#E59500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    position: absolute;
    top: 250px;
}

.pic   {
    width: 400px;
    height: auto;
    float: left;

}

.navi   {
    text-align: center;
    display: table; 
    margin: 0 auto;
    position: absolute;
    left: 250px;
    top: 250px;    
}

